name: Run dumper example
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          rust-version: stable
      - uses: nickg/setup-nvc@v1
        with:
          version: latest
      - name: Build project
        run: cargo build
      - name: Build VHDL code
        run: |
          nvc -a test_examples/tb_simple.vhdl
          nvc -e tb_simple
      - name: Run VHDL simulation
        run: nvc -r tb_simple --load=target/debug/libdumper.so
