name: Run tests
on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        # Final value should correspond to rust-version in Cargo.toml
        toolchain: ["stable", "nightly", "1.82"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Rust
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2
        with:
          toolchain:  ${{ matrix.toolchain }}
      - name: Display versions
        run: |
          cargo -V
          rustc -V
      - name: Run tests
        run: cargo test
